header{
  background: #111;
  border-color: #111;
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

a{
  text-decoration: none;
}

nav{
  color:gray;
}

nav a, nav a: visited{
  color: #fff;
}

nav a.selected, nav a:hover{
  color: #f1f1f1;
}

h1{
  color: #fff;
}

h1{
  font-family: impact;
  font-size: 5em;
  margin: 15px 0;
  font-weight: heavy;
  line-height: 0.9em;
}

nav{
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li{
  font-family: impact;
  color: #fff;
  display: inline-block;
  margin: 0 10px;
}

nav a{
  color: #fff;
  font-weight: 800;
  padding: 15px 10px;
}

#logo{
  text-align:center;
  margin: 0;
}








/* Product1 */

h2{
  font-size: 2em;
  margin: -5px 0 0;
  font-weight: heavy;
  font-family: monospace;
}
  
p{
  font-family: monospace;
  font-size: 1.25em;
  color: #111;
}

span{
  font-family: monospace;
  font-size: 2em;
}

#p1_head{
  padding-left: 2%;
  padding-right: 2%;
  font-size: 2em;
}

#pic_p1{
  padding-left: 10%;
  padding-right: 10%;
}

#descrip{
  padding-left: 10%;
  padding-right: 10%;
  }

@media screen and (min-width: 1500px){
  #descrip{
    float: right;
    margin-top: -37%;
    padding-bottom: 60%;
    padding-right: 13%;
    padding-left: 10%;
  }

  #pic_p1{
    width: 40%;
    height: 40%; 
    padding-left: 2%;
  }
  
  #p1_head{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 3em;
  }
}








/* Product Tab */
#price1{
  padding-left: 32%;
  padding-right: 32%;
}

#p1_title{
  padding-left: 8%;
  padding-right: 8%;
  font-size: 2em;
}

#img_p1{
  padding-left: 9%;
  padding-right: 9%;
}

#price2{
  padding-left: 32%;
  padding-right: 32%;
}

#p2_title{
  padding-left: 8%;
  padding-right: 8%;
  font-size: 2em;
}

#img_p2{
  padding-left: 9%;
  padding-right: 9%;
  max-height: 300px;
  max-width: 300px;
}

#price3{
  padding-left: 32%;
  padding-right: 32%;
}

#p3_title{
  padding-left: 8%;
  padding-right: 8%;
  font-size: 2em;
}

#img_p3{
  padding-left: 9%;
  padding-right: 9%;
  max-height: 300px;
  max-width: 300px;
}

@media screen and (min-width: 1500px){
  #img_p1{
    padding-left: 19%;
  }
  
  #p1_title{
    padding-left: 18%;
    padding-right: 18%;
    font-size: 2em;
  }
  
  #price1{
    padding-left: 25%;
  }
  
  #img_p2{
    margin-left: 32%;
  }
  
  #p2_title{
    text-align: center;
    font-size: 2em;
  }
  
  #price2{
    padding-left: 47%;
  }
  
  #product2{
    margin-top: -30%;
  }
  
  #img_p3{
    margin-left: 54%;
  }
  
  #p3_title{
    margin-left: 55%;
    font-size: 2em;
  }
  
  #price3{
    padding-left: 69%;
  }
  
  #product3{
    margin-top: -30%;
  }
}







/* Product 2 */
#p2_head{
  padding-left: 2%;
  padding-right: 2%;
  font-size: 2em;
}

#pic_p2{
  padding-left: 10%;
  padding-right: 10%;
  max-width: 80%;
  max-height: 80%;
}

@media screen and (min-width: 1500px){
  #p2_head{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 3em;
  }
  
  #pic_p2{
    width: 40%;
    height: 40%; 
    padding-left: 2%;
  }
}







/* Product 3 */
#p3_head{
  padding-left: 2%;
  padding-right: 2%;
  font-size: 2em;
}

#pic_p3{
  padding-left: 10%;
  padding-right: 10%;
  max-width: 80%;
  max-height: 80%;
}

@media screen and (min-width: 1500px){
  #p3_head{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 3em;
  }
  
  #pic_p3{
    width: 40%;
    height: 40%; 
    padding-left: 2%;
  }
}






/* Home */
#indexHead{
  text-align: center;
  font-size: 3em;
}

h3{
  text-align: center; 
  font-family: monospace;
  font-size: 2em;
}

#shirts{
  width: 100%;
  max-height: 400px;
}






/* Cart */
#img1{
  padding-left: 10%;
}

#img2{
  padding-left: 10%;
  max-height: 300px;
  max-width: 400px;
}

#img3{
  padding-left: 10%;
  max-height: 300px;
  max-width: 400px;
}

#p1_t{
  padding-left: 10%;
}

#p3_t{
  padding-left: 10%;
}

#p2_t{
  padding-left: 10%;
}

#amt1{
  padding-left: 10%;
}

#amt2{
  padding-left: 10%;
}

#amt3{
  padding-left: 10%;
}

#quantity1{
  margin-left: 10%;
}

#quantity2{
  margin-left: 10%;
}

#quantity3{
  margin-left: 10%;
}

button{
  padding-bottom: 1%;
  padding-left: 1.25%;
  padding-right: 1.25%;
  padding-top: 1%;
  font-family: monospace;
  font-size: 1.75em;
  margin-left: 10%;
}

input{
  font-family: monospace;
  font-size: 1em;
  padding-bottom: 0.5%;
  padding-left: 0.75%;
  padding-right: 0.75%;
  padding-top: 0.5%;
}

#payment{
  font-family: monospace;
  font-size: 2em;
  margin-left: 10%;
}

@media screen and (min-width: 1500px){
  #payment{
    font-family: monospace;
    font-size: 2em;
    margin-left: 50%;
    margin-top: -1400px;
  }
}
